*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.thead{
  color: red;
  letter-spacing: 1px;
}
/*Add user */
.add-head{
  text-align: center;
  padding: 5px;
  color: orange;
}
.form-label{
  color: green;
  font-weight: bold;
}
.adduserDiv{
  padding: 15px;
}
.userBtn{
  width: 100%;
  font-weight: bold;
}
